aside {
	/*background: rgba(203,217,88, .7); /* lime green */ 
	padding: 1em 1em;
	margin: .5em -1em;
	color: white;
 	font-size: .8em;
	text-align: right;
	float:right; 
/*  	background: darken($base-color, 4);
 	background: rgb(135,224,253); */
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
 	transition: background 4s ease;
/*               padding 5s linear;
              box-shadow: inset 2px 2px 3px 0 darken($base-color, 14), 0px 1px 1px #333; */

}


aside h1 {
	/* color: rgba(170, 189, 14, .8); darker green */
	color: darken($base-color, 20);
	/*border-bottom: 1px solid rgb(170, 189, 14); /* darker green */
	font-weight: normal;
	margin: .5em 0;
	text-decoration: underline;
 	display:inline;
 	line-height:1.3em;
 	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	font-size: 1.6em;
 	text-shadow:none;
 /* 	text-shadow:  1px 1px 1px darken($alt-color, 35);  */
} 


aside h1:hover {
	color:pink;

     transition: color .2s ease;
}

aside a {
	color: $link-color-aside;
}

aside a:visited {
	color: $link-color-aside-visited;
}

aside a:hover {
	color: $link-color-aside-hover;
}



 @media screen and (min-width:350px) and (min-height:350px){
	aside {
		max-width: 35em;
		margin-right: 3em;
	}

	/* aside p, h1, ul, ol {
		max-width: 100%;
	} */
}




//background: -moz-linear-gradient(top, darken($base-color, 1) 0%, darken($base-color, 4) 40%, darken($base-color, 6) 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,darken($base-color, 4)), color-stop(40%,darken($base-color, 7)), color-stop(100%,darken($base-color, 10))); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(top, darken($base-color, 1) 0%,darken($base-color, 4) 40%,darken($base-color, 6) 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(top, darken($base-color, 1) 0%, darken($base-color, 4) 40%,darken($base-color, 6) 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(top, darken($base-color, 1) 0%, darken($base-color, 4) 40%,darken($base-color, 6)100%); /* IE10+ */
//background: linear-gradient(to bottom, darken($base-color, 1) 0%, darken($base-color, 4 ) 40%,darken($base-color, 6) 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($base-color, 1)', endColorstr='darken($base-color, 6)',GradientType=0 ); /* IE6-9 */

