#main-title .title {
	display:block;
	text-transform: uppercase;
	color: darken($base-color, 20);
	font-size: 2em;
	 text-shadow:  1px 1px 1px darken($base-color, 70);
   /*   color: #9c8468;
        opacity: 0.5; */
    padding-top:none;
}

#main-title h1{
	padding-top:1.5em;
	text-transform: uppercase;
	line-height: 1.5em;
}

#lil-title {
	font-size: 1.25em;  /* 36 / 32 */
}

#big-title{
	font-size: 2.1875em; /* 70 / 32 */
	opacity: 1;
}

#title-sub p {
	max-width:100%;
}

/* landscape mode on small screens can't have large margins on top, not enough space  */

@media screen and (max-height:350px) {		
	#main-title {
		padding-top: 1em !important;
	}

	#main-title h1{
		padding-top:.5em !important;
	}
}


@media screen and (min-width:331px) {
	#main-title {
		padding-top: 8em;
		margin:0;
		padding-right:3em;
	}

	#main-title h1 {
		line-height: 1.9em;
		border-left: 1px solid $alt-color;
		padding-left:1em;
		margin:0;
		padding-top: .8em;
	}

	#lil-title {
		font-size: 1.75em;
	}

	#big-title {
		font-size: 3.1875em;
	}

	#title-sub {
		padding-top:1em;
		margin-top: 2em;
		padding-bottom:1em;
		margin-bottom:2em;
	}

	#main-title p { 
		border-right: 1px solid $alt-color;
		padding-right: 1.8em;
		line-height: 2em;
		margin:0;
		text-align:right;
	}

}

@media screen and (min-width:1100px), (min-height:400px) and (orientation:landscape) {
	#main-title {
		padding-left: 5%;
		padding-right: 5%;
	}
}


/* @media screen and (min-width:1100px), (min-height:800px) and (orientation:landscape) {
	#main-title {
		padding-left: 20%;
		padding-right: 20%;
	}
} */




//messing with the divider - keep for later+-

/*.

<div class="arrow-down"></div>
arrow-down {
	height:30px;
	width:30px;


	
 	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid darken($base-color, 20); 
	margin: 0 auto;
	background: $base-color; 
	position:absolute;
	margin-top:9px;
	 left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    content:url(/bird.png);
} */