
/* http://stackoverflow.com/questions/5358183/is-it-possible-to-dynamically-scale-text-size-based-on-browser-width */

h1 {
	font-size:3.3333333333333333em; /* 60 / 18 */
	font-weight: 700;
	color: $base-color;
	line-height: 1.2em;  
	font-family: "omnes-pro", "Arial Rounded MT Bold", Arial, sans-serif;
	margin-top:.1em;
}


.title {
	display:block;
	text-transform: uppercase;
	color: $alt-color;
   	width:30px;  /* If not defined, or set to 100%, space below shrinks as viewport gets wider */
    margin-top:0;
    /*    text-shadow: 1px 1px 1px rgba(170, 189, 14, 0.9); */
}  
/*http://stackoverflow.com/questions/9215733/css-padding-and-margin-issue*/
 
#main-title {
	background: rgba(203,217,88, .7);
	/*border-bottom: 3px solid rgba(170, 189, 14, .3);*/
	margin: 0 -1em -1em -1em;
	padding: 2em 1em;
	box-shadow: 0px 2px 2px rgba(170, 189, 14, 0.9);


}

#main-title .title {
	color: rgb(170, 189, 14);

}

#main-title h1 { 
	font-size: 2.666666666666667em; /* FIX */
	text-align: left;
	display:block;
	width:100%;
	font-family: "proxima-nova-extra-condensed", "Helvetica Neue", Helvetica, Arial, sans-serf;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(170, 189, 14, 0.8); 

	/* grabs Helventica Neue Condensed Bold in Firefox on Mac at least*/
	font-weight:600; 
	font-stretch:condensed;
	}

#main-title p {			/* SUBTITLE/Question */
	font-size: 1.555555555556em;  /*28 / 18 */
	text-align: left;
}

#lil-title {	/* "Penguins Are" */
	font-size: 1em;  /*1em*/
}

#big-title {	/* "Awesome." */
		font-size: 1.7em;   /*1.7*/
}
