html, body, #site {
	/* min-width:10em; */
	height:100%;
	margin:0;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	background-image: url("/i/bg-2-2.png");
	background-repeat: repeat;
	background-attachment: fixed;

}


h1 {
	font-family: "proxima-nova-extra-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2em; /* 32 / 16 */ 
	font-weight: 700;
	color: $alt-color ;
	/* grabs Helventica Neue Condensed Bold in Firefox on Mac at least*/
	font-stretch:condensed;

}

section {
	min-height:100%;
	position:relative;
	background: $base-color;
	padding:1.5em;
	opacity: .8;
}

#site :nth-of-type(even) {
	background: darken($base-color, 10);
}

p, ul, ol, hr, pre, dl, a {
	color: #fff;
	font-size: 1.25em; /* 20 / 16 */
	background:none !important;
	}

#site h1, h2, h3 {
	background:none !important;
}

ul {
	padding-left:0;
}

ul li {
	list-style:none;
	margin-top: 1em;
}

a {
	color:$link-color;
}

a:visited {
	color: $link-color-visited;
}

a:hover {
	text-decoration: underline;
	color: $link-color-hover;
}

.strike {
	text-decoration: line-through;
}

/* *************** ASIDES ************** */


aside {
/* background: $alt-color;
text-align:right; */
	display:none;
}

aside h1 {
	font-size: 1.2em;
}

