html, body, #site {
	/* min-width:10em; */
	height:100%;
	margin:0;
/* 	background-color: rgba(192, 233, 240, .6); */
	/*background-image: url(Untitled-1.png);*/
}


h1 {
	font-size:2em; /* 60 / 18 */ /* FIX THIS */
	font-weight: 700;
	color: $alt-color;
/* 	line-height: 1.2em;   */
	/* font-family: "omnes-pro", "Arial Rounded MT Bold", Arial, sans-serif; */
	/* padding-top:3em;
	margin-top:0; */
}



section {
min-height:100%;
position:relative;
background: $base-color;
padding:1.5em;
}

aside {
/* background: $alt-color;
text-align:right; */

}

p, ul, ol {
	color: #fff;
}


